<% layout("/layouts/boilerplate.ejs") %>
<body>
    <div class="row">
        <div class="col-lg-8 offset-lg-2 col-md-8 offset-md-2 col-10 offset-1">
            <h3><%= listing.title %></h3>
        </div>
    <div class="col-lg-8 offset-lg-2 col-md-8 offset-md-2 col-10 offset-1  show-card listing-card">
        <img src="<%= listing.image.url %>" class="card-img-top" style="height: 60vh;" alt="...">
        <div class="card-body col">
        <h5 class="card-title show-title mt-2 mb-1">Owned by <b> <%= listing.owner.username %></b></h5>
          <p class="card-text mt-1"><%= listing.description %> </p>
          <p class="card-text mt-1">&#8377;<%= listing.price.toLocaleString("en-IN") %> </p>
          <p class="card-text mt-1"><%= listing.country %> </p>
          <p class="card-text mt-1"><%= listing.location %> </p>

          <% if (listing.owner.equals(currUser)) { %>
            <form class="edti-del-btn" method="post" action="/listings/<%= listing._id %>?_method=DELETE">
              <a href="/listings/<%= listing._id %>/edit" class="mt-3  btn btn-dark my-btn">Edit</a>
              &nbsp; &nbsp; &nbsp;
              <button class="btn btn-dark mt-3">Delete</button>
          </form>
          <% } %>
        </div>
      </div>
      <div class="col-lg-8 offset-lg-2 col-md-8 offset-md-2 col-10 offset-1 mb-3">
        <% if (currUser) { %>
          <hr>
        <h4>Leave a Review </h4>
        <form method="post" action="/listings/<%= listing.id %>/review" novalidate class="needs-validation">
          <div class="mt-3 mb-3">
            <label for="rating"  class="form-label">Rating</label>
            
            <fieldset class="starability-slot">
              <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
              <input type="radio" id="first-rate1" name="review[rating]" value="1" />
              <label for="first-rate1" title="Terrible">1 star</label>
              <input type="radio" id="first-rate2" name="review[rating]" value="2" />
              <label for="first-rate2" title="Not good">2 stars</label>
              <input type="radio" id="first-rate3" name="review[rating]" value="3" />
              <label for="first-rate3" title="Average">3 stars</label>
              <input type="radio" id="first-rate4" name="review[rating]" value="4" />
              <label for="first-rate4" title="Very good">4 stars</label>
              <input type="radio" id="first-rate5" name="review[rating]" value="5" />
              <label for="first-rate5" title="Amazing">5 stars</label>
            </fieldset>
          </div>
          <div class="mt-3 mb-3">
            <label for="comment" class="form-label">Comment</label>
            <textarea name="review[comment]" required  class="form-control" id="comment" cols="25" rows="4"></textarea>
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Please add some comments for valid review</div>
          </div>
          <button class="btn btn-outline-dark mt-3 mb-3">Submit</button>
        </form>
        <% } %>
        <hr>
        <p><b>All Reviews</b> </p>
        <div class="row review-card-box">
          <%for(review of listing.reviews) { %>
            <div class="card review-card col-5 mb-3 ms-3">
              <div class="card-body">
                <h5 class="card-title mt-2">@<%= review.author.username %></h5>
                <p class="starability-result card-text" data-rating="<%= review.rating %>"></p>
                <p class="card-text mb-2 mt-2"><%= review.comment %></p>
                <%if(review.author.equals(currUser)){ %>
                <form class="mb-3" method="post" action="/listings/<%= listing.id %>/review/<%= review.id %>?_method=DELETE">
                  <button class="btn btn-dark btn-sm mt-3" >Delete</button>
                </form>
                <% } %>
              </div>
            </div>
            <% }%>
        </div>
      </div>
    </div>
</body>
